<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>AngularJS Best Practices</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/simple.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="css/sunburst.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/print/' + ( window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">');
    </script>

    <link rel="stylesheet" href="css/styles.css">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<div class="reveal">

    <div class="slides">

        <section data-background-transition="slide">
            <div style="float: left;">
                <img src="img/angular.png"/>
            </div>
            <div style="float: right;">
                <h2>AngularJS</h2>
                <h2>Best Practices</h2>
                <p>
                    <br/><br/>
                    <small>Created by John Urberg</small><br>
                    <small>Application Architect @Lifetouch</small><br>
                    <small>@jurberg / jurberg.github.io</small>
                </p>
            </div>
        </section>

        <section>
            <img src="img/dilbert.jpg"/>
            <p>A best practice is a method or technique that has consistently shown results superior to those achieved with other means...</p>
            <small><a href="http://en.wikipedia.org/wiki/Best_practice">*wikipedia</a></small>
        </section>

        <section>
            <img src="img/tweet.png"/>
        </section>

        <section>
            <img src="img/grab-bag.jpg"/>
        </section>

        <section>
            <h2>A 5 Minute Overview</h2>
        </section>

        <section>
            <img src="img/angular_diagram.png" style="width: 60%; height: 60%;"/>
            <br/>
            <small>Courtesy&nbsp;<a href="https://mscblogs.blob.core.windows.net/media/dwahlin/Media/image_thumb_3DE5D87B.png">Dan Wahlin</a></small>
        </section>

        <section>
            <h2>Angular Tutorial</h2>
            <pre><code class="javascript">var app = angular.module('phonecatApp', []);

app.controller('PhoneListCtrl', function($scope) {
  $scope.phones = [{
    'name': 'Nexus S',
    'snippet': 'Fast just got faster with Nexus S.'
  },{
    'name': 'Motorola XOOM™ with Wi-Fi',
    'snippet': 'The Next, Next Generation tablet.'
  },{
    'name': 'MOTOROLA XOOM™',
    'snippet': 'The Next, Next Generation tablet.'
  }];
});</code></pre>
            <small><a href="https://docs.angularjs.org/tutorial/step_02">*https://docs.angularjs.org/tutorial/step_02</a></small>
        </section>

        <section>
            <h2>Angular Tutorial</h2>
            <pre><code class="html">&lt;html ng-app="phonecatApp">
  &lt;head>
    <script src="js/angular.js"></script>
    <script src="js/controllers.js"></script>
  &lt;/head>
  &lt;body ng-controller="PhoneListCtrl">
    <ul>
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
  &lt;/body>
&lt;/html></code></pre>
            <small><a href="https://docs.angularjs.org/tutorial/step_02">*https://docs.angularjs.org/tutorial/step_02</a></small>
        </section>

        <section>
            <img src="img/tutorial_02.png" style="width: 160%; height: 160%;"/>
            <small><a href="https://docs.angularjs.org/tutorial/step_02">*https://docs.angularjs.org/tutorial/step_02</a></small>
        </section>

        <section>
            <h1>Best Practices</h1>
        </section>

        <section>
            <h2>Code Organization</h2>
        </section>

        <section>
            <pre><code class="javascript">js/
  controllers.js
  directives.js
  filters.js
  services.js</code></pre>
        </section>

        <section>
            <h3 class="bp">Define 1 Component Per File</h3>
        </section>

        <section>
            app.js
            <pre><code class="javascript">var app = angular.module('phonecatApp', []);</code></pre>
            phoneListCtrl.js
            <pre><code class="javascript">
app.controller('PhoneListCtrl', function($scope) {
  $scope.phones = [];
  $scope.addPhone = function(phone) {
    $scope.phones.push(phone);
  };
});</code></pre>
        </section>

        <section>
            <h2 class="bp">Directory Per Type</h2>
            <pre><code class="javascript">app/
  controllers/
    mainController.js
    otherController.js
  directives/
    mainDirective.js
    otherDirective.js
  services/
    userService.js
    itemService.js
  lib/
    jquery.js
    bootstrap.js
  app.js</code></pre>
        </section>

        <section>
            <h2 class="bp">Directory Per Module</h2>
            <pre><code class="javascript">app/
  patients/
    patient-controller.js
    patient-module.js
    patient-service.js
  accounts/
    account-list-controller.js
    account-module.js
    account-service.js
    account-directive.js</code></pre>
        </section>

        <section>
            <h2 class="bp">Combo Platter</h2>
            <pre><code class="javascript">app/
  patients/
    controllers/
      patient-controller.js
    services/
      patient-service.js
    patient-module.js
  accounts/
    controllers/
      account-list-controller.js
    services/
      account-service.js
    directives/
      account-directive.js
    account-module.js</code></pre>
        </section>

        <section>
            <h3 class="bp">Use An IIFE</h3>
            <p>(Immediately-Invoked Function Expression)</p>
        </section>

        <section>
            app.js
            <pre><code class="javascript">(function(global, angular) {
  "use strict";
  global.app = angular.module('phonecatApp', []);
}(this, angular));</code></pre>
            phoneListCtrl.js
            <pre><code class="javascript">(function(app) {
  "use strict";
  app.controller('PhoneListCtrl', function($scope) {
    $scope.phones = [];
    $scope.addPhone = function(phone) {
    $scope.phones.push(phone);
  };
}(app));</code></pre>
        </section>

        <section>
            <h3 class="bp">Use A Module Library</h3>
            <br/>
            <ul>
                <li>AMD (Asynchronous Module Definition)</li>
                <li>CommonJS</li>
                <li>ES6</li>
            </ul>
        </section>

        <section>
            app.js
            <pre><code class="javascript">define(["angular"], function(angular) {
  "use strict";
  return angular.module('phonecatApp', []);
});</code></pre>
            phoneListCtrl.js
            <pre><code class="javascript">define(["app"], function(app) {
  "use strict";
  app.controller('PhoneListCtrl', function($scope) {
    $scope.phones = [];
    $scope.addPhone = function(phone) {
      $scope.phones.push(phone);
    };
});</code></pre>
        </section>

        <section>
            app.js
            <pre><code class="javascript">const app = angular.module('phonecatApp', []);
export default {app};</code></pre>
            phoneListCtrl.js
            <pre><code class="javascript">import {app as App} from '/app/app';
App.controller('PhoneListCtrl', function($scope) {
  $scope.phones = [];
  $scope.addPhone = function(phone) {
    $scope.phones.push(phone);
  };
};</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Named Functions</h3>
        </section>

        <section>
        <pre><code class="javascript">(function(app) {
  "use strict";

  function PhoneListCtrl($scope) {
    $scope.phones = [];
    $scope.addPhone = function(phone) {
      $scope.phones.push(phone);
    };
  }

  app.controller('PhoneListCtrl', PhoneListCtrl);

}(app));</code></pre>
        </section>

        <section>
            <h2>Angular Modules</h2>
            <br/>
            <p>A container for the different parts of your app</p>
        </section>

        <section>
            <pre><code class="javascript">var app = angular.module('phonecatApp', []);

app.controller('PhoneListCtrl', function($scope) {});

app.service('PhoneService', function() {});</code></pre>
        </section>

        <section>
            <p>Your application module has a global namespace!</p>
        </section>

        <section>
            <h3 class="bp">Use Module Getter</h3>
        </section>

        <section>
            <pre><code class="javascript">angular.module('phonecatApp')
  .controller('PhoneListCtrl', function($scope) {});</code></pre>
      </section>

        <section>
            <h3 class="bp">Google Recommendations</h3>
            <br/>
            <ul>
                <li>A module for each feature</li>
                <li>A module for each reusable component</li>
                <li>An application level module which depends on the above modules and contains any initialization code</li>
            </ul>
            <small><a href="https://docs.angularjs.org/guide/module">*https://docs.angularjs.org/guide/module</a></small>
        </section>

        <section>
            <h3 class="bad">Don't create a module for each type!</h3>
        </section>

        <section>
            <pre><code class="javascript">var phonecatControllers = angular.module(
  'phonecatControllers', []);

phonecatControllers.controller('PhoneListCtrl',
  function ($scope, $http) {
    $http.get('phones/phones.json').success(function(data) {
      $scope.phones = data;
    });

    $scope.orderProp = 'age';
});

phonecatControllers.controller('PhoneDetailCtrl',
  function($scope, $routeParams) {
    $scope.phoneId = $routeParams.phoneId;
});</code></pre>
            <small><a href="https://docs.angularjs.org/tutorial/step_07">*https://docs.angularjs.org/tutorial/step_07</a></small>
        </section>

        <section>
            <h2>Dependency Injection</h2>
            <br/>
            <ul>
                <li>Creates components</li>
                <li>Resolves dependencies</li>
                <li>Provides components to other components as requested</li>
            </ul>
        </section>

        <section>
            <h3 class="bp">Wrap Global Libraries</h3>
            <br/>
            <pre><code class="javascript">angular.module('underscore', [])
  .factory('_', function($window) {
    return $window._;
  });</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Array Notation for Dependencies</h3>
            <br/>
            <pre><code class="javascript">function MyCtrl($scope) {}
MyCtrl.$inject = ['$scope'];

app.service('BookService', ['$http', function($http) {
}]);</code></pre>
        </section>

        <section>
            <h2>Templates</h2>
            <br/>
            <p>HTML that contains Angular specific elements and attributes</p>
        </section>

        <section>
            <pre><code class="html">&lt;html ng-app="phonecatApp">
  &lt;head>
    <script src="js/angular.js"></script>
    <script src="js/controllers.js"></script>
  &lt;/head>
  &lt;body ng-controller="PhoneListCtrl">
    <ul>
        <li ng-repeat="phone in phones">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>
  &lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <h3 class="bp">Put Scripts at the End</h3>
        </section>

        <section>
            <pre><code class="html">&lt;html ng-app="phonecatApp">
&lt;body ng-controller="PhoneListCtrl">
  <ul>
    <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
    </li>
  </ul>
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
&lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <h3 class="bp">Prefer ng-bind to interpolation</h3>
        </section>

        <section>
            <pre><code class="html">&lt;html ng-app="phonecatApp">
&lt;body ng-controller="PhoneListCtrl">
  <ul>
    <li ng-repeat="phone in phones">
        <span ng-bind="phone.name"></span>
        <p ng-bind="phone.snippet"></p>
    </li>
  </ul>
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
&lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <h3 class="bp">Prefer Angular Attributes if Available</h3>
            <br/>
            <ul>
                <li>ng-src</li>
                <li>ng-href</li>
                <li>ng-class</li>
                <li>etc...</li>
            </ul>
        </section>

        <section>
            <h2>Services / Providers</h2>
            <br/>
            <p>A "recipe" for creating your object with the injector</p>
        </section>

        <section>
            <ul>
                <li class="fragment">Wired together using DI</li>
                <li class="fragment">Lazily instantiated</li>
                <li class="fragment">Singletons</li>
                <li class="fragment">Where the Model lives</li>
            </ul>
        </section>

        <section>
            <ul>
                <li>Provider</li>
                <li>Service</li>
                <li>Factory</li>
                <li>Value</li>
                <li>Constant</li>
            </ul>
        </section>

        <section>
            <pre><code class="javascript">function Greeter(name, salutation) {
  this.name = name;
  this.salutation = salutation || 'Hello';
};

Greeter.prototype.sayHello = function() {
  return this.salutation + ', ' + this.name;
};</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Constant for config phase values</h3>
            <br/>
            <pre><code class="javascript">app.constant('Name', 'John Doe');</code></pre>
        </section>

        <section>
            <pre><code class="javascript">app.constant('NameConstant', {
  name: 'John Doe'
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">app.constant('NameConstant', Object.freeze({
  name: 'John Doe'
}));</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Values to provide simple data</h3>
            <br/>
            <pre><code class="javascript">app.value('Name', 'John Doe');

app.value('Address', {
   street: '100 Main Street',
   city: 'Mankato'
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Service for singleton classes</h3>
            <br/>
            <pre><code class="javascript">app.service('GreeterService', ['Name', Greeter]);</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Factory for complex cases</h3>
            <br/>
            <pre><code class="javascript">app.factory('GreeterFactory', function() {
  return function(name) {
    return new Greeter(name);
  };
}]);</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Provider to configure a service</h3>
            <br/>
            <pre><code class="javascript">utilMod.provider('GreeterProvider',['Name',
function(name) {
  var salutation = 'Hello';
  this.setSalutation = function(s) {
    salutation = s;
  };
  this.$get = function() {
    return new Greeter(name, salutation);
  };
}]);
//--------------------------------------------
app.config(['GreeterProvider', function(gp) {
  gp.setSalutation('Hola');
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Decorators to enhance services</h3>
            <br/>
            <pre><code class="javascript">app.config(function($provide) {
  $provide.decorator('GreeterService',
  function($delegate) {
     $delegate.enhanced = true;
     return $delegate;
  });
});</code></pre>
        </section>

        <section>
            <h2 class="bp">Use EcmaScript 6</h2>
        </section>

        <section>
            <pre><code class="javascript">function Greeter(name, salutation) {
  this.name = name;
  this.salutation = salutation || 'Hello';
}

Greeter.prototype.sayHello = function() {
  return this.salutation + ', ' + this.name;
};</code></pre>
        </section>

        <section>
            <pre><code class="javascript">class GreeterService {
  constructor(name, saluation = 'Hello') {
    this.name = name;
    this.salutation = salutation;
  }
  sayHello() {
    return this.salutation + ', ' + this.name;
  }
}</code></pre>
        </section>

        <section>
            <h2>Controllers</h2>
            <br/>
            <p>A constructor function used to augment the Angular Scope</p>
        </section>

        <section>
            <h3 class="bp">Use controllerAs</h3>
            <br/>
            <pre><code class="html">&lt;body ng-controller="PhoneListCtrl as ctrl"></body>
  <ul>
    <li ng-repeat="phone in ctrl.phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
    </li>
  </ul>
&lt;/body></code></pre>
        </section>

        <section>
            <p>Before:</p>
            <pre><code class="javascript">function PhoneListCtrl($scope) {
  $scope.phones = [];
  $scope.addPhone = function(phone) {
    $scope.phones.push(phone);
  };
}
app.controller('PhoneListCtrl', PhoneListCtrl);</code></pre>
        </section>

        <section>
            <p>After:</p>
            <pre><code class="javascript">function PhoneListCtrl() {
  this.phones = [];
}
PhoneListCtrl.prototype.addPhone = function(phone) {
  this.phones.push(phone);
};
app.controller('PhoneListCtrl', PhoneListCtrl);</code></pre>
        </section>

        <section>
            <pre><code class="javascript">class PhoneListCtrl {
  constructor() {
    this.phones = [];
  }
  addPhone(phone) {
    this.phones.push(phone);
  }
}
app.controller('PhoneListCtrl', PhoneListCtrl);</code></pre>
        </section>

        <section>
            <h3 class="bp">$scope</h3>
            <br/>
            <ul>
                <li>Read only in a template</li>
                <li>Write only in a controller</li>
            </ul>
        </section>

        <section>
            <h3 class="bp">Model in services, not on scope</h3>
        </section>

        <section>
            <pre><code class="javascript">app.controller('PhoneListCtrl', function($scope) {
  $scope.phones = [{
    'name': 'Nexus S',
    'snippet': 'Fast just got faster with Nexus S.'
  },{
    'name': 'Motorola XOOM™ with Wi-Fi',
    'snippet': 'The Next, Next Generation tablet.'
  },{
    'name': 'MOTOROLA XOOM™',
    'snippet': 'The Next, Next Generation tablet.'
  }];
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">function PhoneService() {
  this.phones = [{
    'name': 'Nexus S',
    'snippet': 'Fast just got faster with Nexus S.'
  },{
    'name': 'Motorola XOOM™ with Wi-Fi',
    'snippet': 'The Next, Next Generation tablet.'
  }];
}
app.service('PhoneService', PhoneService);</code></pre>

<pre><code class="javascript">function PhoneListCtrl(PhoneService) {
  this.phones = PhoneService.phones;
}
app.controller('PhoneListCtrl', PhoneListCtrl);</code></pre>
        </section>

        <section>
            <h3 class="bp">Use References not Values</h3>
        </section>

        <section>
            <pre><code class="javascript">function UserService() {
  this.name = "John Doe";
}

function UserCtrl(UserService) {
  this.name = UserService.name;
}

app.service('UserService', UserService);
app.controller('UserCtrl', UserCtrl);</code></pre>
            <pre><code class="html"><div ng-controller="UserCtrl as ctrl">
    <input ng-model="ctrl.name"/>
</div></code></pre>
        </section>

        <section>
            <pre><code class="javascript">function UserService() {
  this.user = { name: "John Doe" };
}

function UserCtrl(UserService) {
  this.user = UserService.user;
}

app.service('UserService', UserService);
app.controller('UserCtrl', UserCtrl);</code></pre>
            <pre><code class="html"><div ng-controller="UserCtrl as ctrl">
    <input ng-model="ctrl.user.name"/>
</div></code></pre>
        </section>

        <section>
            <h2>Directives</h2>
            <br/>
            <p>"teaching HTML new tricks"</p>
        </section>

        <section>
            <h3 class="bp">DOM Manipulation Only in Directives</h3>
        </section>

        <section>
            <h3 class="bp">Naming a Directive</h3>
            <br/>
            <ul>
                <li>Use lowerCamelCase to name the directive</li>
                <li>Reference as lower-camel-case in HTML</li>
                <li>Prefix the directive name to avoid future collisions</li>
            </ul>
            <br/><br/>
            <pre><code class="javascript">function MyDir() {...}
app.directive('myDir', MyDir);</code></pre>
        </section>

        <section>
            <ul>
                <li class="bp">attribute name</li><pre><code class="html"><span my-dir="exp"></span></code></pre>
                <li class="bp">tag name</li><pre><code class="html"><my-dir></my-dir></code></pre>
                <li>comments</li><pre><code class="html"> <!-- directive: my-dir exp --></code></pre>
                <li>class name</li><pre><code class="html"><span class="my-dir: exp;"></span></code></pre>
            </ul>
        </section>

        <section>
            <h3 class="bp">Break Template into Own File</h3>
            <br/>
            <pre><code class="javascript">app.directive('myCustomer', function() {
  return {
    template: 'Name: {{customer.name}} Address: {{customer.address}}'
  };
});</code></pre>
            <pre><code class="javascript">app.directive('myCustomer', function() {
  return {
    templateUrl: 'my-customer.html'
  };
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Isolate the Scope</h3>
        </section>

        <section>
          <pre><code class="javascript">app.controller('TestCtrl', function() {
  this.firstName = "John";
  this.lastName = "Doe";
  this.alertMe = function() {
    alert(this.name);
  };
});</code></pre>
          <pre><code>&lt;test-directive
  name="{{test.firstName}}"
  two-way-name="test.lastName"
  alerter="test.alertMe()"/></code></pre>
        </section>

        <section>
            <pre><code class="javascript">app.directive('testDirective', function() {
  return {
    scope: {
      name: "@", // one way text binding
      twoWayName: "=", // two way binding
      alerter: "&" // function binding
    },
    template: '<div>Hello {{name}}</div>' +
      '<div>@:<input type="text" ng-model="name"/></div>' +
      '<div>=:<input type="text" ng-model="twoWayName"/></div>' +
      '<div>&:<button ng-click="alerter()">Alert</button></div>',
    link: function(scope, elem, attr) {}
  };
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Cleanup Your Directives</h3>
            <br/>
            <pre><code class="javascript">app.directive('myDir', function() {
  return {
     link: function(scope, elem, attr) {
       var unbinder = scope.$watch('flag', function(flag) {});
       scope.$on('$destroy', unbinder);
     }
  };
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Transclusion</h3>
            <br/>
            <p>Compile the content of the element and make it available to the directive.</p>
            <br/>
        </section>

        <section>
            <pre><code class="html"><div my-directive>
    <button>some button</button>
    <a href="#">and a link</a>
</div></code></pre>
        </section>

        <section>
            <pre><code class="javascript">myApp.directive('myDirective', function() {
  return {
    transclude: true,
    template: '<div class="something" ng-transclude>' +
      'This is my directive content</div>'
  }
});</code></pre>
        </section>

        <section>
            <p>Output</p>
            <pre><code class="html"><div class="something">
  This is my directive content
  <button>some button</button>
  <a href="#">and a link</a>
</div></code></pre>
        </section>

        <section>
            <h2>Filters</h2>
        </section>

        <section>
            <h2>Events & Misc</h2>
        </section>

        <section>
            <h2>Testing</h2>
        </section>

        <section>
            <h2>Questions</h2>
        </section>

        <section>
            <h3>Thanks</h3>
            <br><br>
            <p>https://github.com/jurberg/angular-bp-presentation</p>
        </section>

    </div>
</div>

<script src="js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script src="js/jquery.js"></script>
<script src="js/app.js"></script>

</body>
</html>
