<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">

    <title>AngularJS Best Practices</title>

    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/simple.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="css/sunburst.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
        document.write('<link rel="stylesheet" href="css/print/' + ( window.location.search.match(/print-pdf/gi) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">');
    </script>

    <link rel="stylesheet" href="css/styles.css">

    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->
</head>

<body>
<div class="reveal">

    <div class="slides">

        <section data-background-transition="slide">
            <div style="float: left;">
                <img src="img/angular.png"/>
            </div>
            <div style="float: right;">
                <h2>AngularJS 1.x</h2>
                <h2>Best Practices</h2>
                <p>
                    <br/><br/>
                    <small>Created by John Urberg</small><br>
                    <small>Lead Systems Architect @Lifetouch</small><br>
                    <small>@jurberg / jurberg.github.io</small>
                </p>
            </div>
        </section>

        <section>
            <img src="img/dilbert.jpg"/>
            <p>A best practice is a method or technique that has consistently shown results superior to those achieved with other means...</p>
            <small><a href="http://en.wikipedia.org/wiki/Best_practice">*wikipedia</a></small>
        </section>

        <section>
            <img src="img/tweet.png"/>
        </section>

        <section>
            <h2>A 5 Minute Overview</h2>
        </section>

        <section>
            <img src="img/angular_diagram.png" style="width: 60%; height: 60%;"/>
            <br/>
            <small>Courtesy&nbsp;<a href="https://mscblogs.blob.core.windows.net/media/dwahlin/Media/image_thumb_3DE5D87B.png">Dan Wahlin</a></small>
        </section>

        <section>
            <h2>Angular Tutorial</h2>
            <pre><code class="javascript">var app = angular.module('phonecatApp', []);

app.controller('PhoneListCtrl', function($scope) {
  $scope.phones = [{
    'name': 'Nexus S',
    'snippet': 'Fast just got faster with Nexus S.'
  },{
    'name': 'Motorola XOOM™ with Wi-Fi',
    'snippet': 'The Next, Next Generation tablet.'
  },{
    'name': 'MOTOROLA XOOM™',
    'snippet': 'The Next, Next Generation tablet.'
  }];
});</code></pre>
            <small><a href="https://docs.angularjs.org/tutorial/step_02">*https://docs.angularjs.org/tutorial/step_02</a></small>
        </section>

        <section>
            <h2>Angular Tutorial</h2>
            <pre><code class="html">&lt;html ng-app="phonecatApp">
  &lt;head>
    <script src="js/angular.js"></script>
    <script src="js/controllers.js"></script>
  &lt;/head>
  &lt;body ng-controller="PhoneListCtrl">
    <ul>
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
  &lt;/body>
&lt;/html></code></pre>
            <small><a href="https://docs.angularjs.org/tutorial/step_02">*https://docs.angularjs.org/tutorial/step_02</a></small>
        </section>

        <section>
            <img src="img/tutorial_02.png" style="width: 160%; height: 160%;"/>
            <small><a href="https://docs.angularjs.org/tutorial/step_02">*https://docs.angularjs.org/tutorial/step_02</a></small>
        </section>

        <section>
            <h1>Best Practices</h1>
            <img src="img/grab-bag.jpg"/>
        </section>

        <section>
            <h2>Code Organization</h2>
        </section>

        <section>
            <img src="img/phonecat-files.png" style="width:150%;height:150%"/>
            <br/>
            <small><a href="https://github.com/angular/angular-phonecat/tree/step-1/app/js">*Angular Tutorial</a></small>
        </section>

        <section>
            <h3 class="bp">Define 1 Component Per File</h3>
        </section>

        <section>
            phonecatApp.js
            <pre><code class="javascript">var app = angular.module('phonecatApp', []);</code></pre>
            phoneListCtrl.js
            <pre><code class="javascript">
app.controller('PhoneListCtrl', function($scope) {
  $scope.phones = [];
  $scope.addPhone = function(phone) {
    $scope.phones.push(phone);
  };
});</code></pre>
        </section>

        <section>
            <h2 class="bp">Organize Your Code</h2>
            <br/>
            <ul>
                <li>Directory per type</li>
                <li>Directory per module</li>
                <li>Directory per component</li>
                <li>Mix of the above</li>
            </ul>
        </section>

        <section>
            <pre><code>app/
----- shared/
---------- sidebar/
--------------- sidebarDirective.js
--------------- sidebarView.html
----- components/
---------- home/
--------------- homeController.js
--------------- homeService.js
--------------- homeView.html
---------- blog/
--------------- blogController.js
--------------- blogService.js
--------------- blogView.html
----- app.module.js
----- app.routes.js</code></pre>
            <small><a href="https://scotch.io/tutorials/angularjs-best-practices-directory-structure">*scotch.io</a></small>
        </section>

        <section>
            <h3 class="bp">Use An IIFE</h3>
            <p>(Immediately-Invoked Function Expression)</p>
        </section>

        <section>

            <pre><code class="javascript">// phonecatApp.js
(function(global, angular) {
  "use strict";
  global.app = angular.module('phonecatApp', []);
}(this, angular));</code></pre>

            <pre><code class="javascript">// phoneListCtrl.js
(function(app) {
  "use strict";
  app.controller('PhoneListCtrl', function($scope) {
    $scope.phones = [];
    $scope.addPhone = function(phone) {
      $scope.phones.push(phone);
    };
  });
}(app));</code></pre>
        </section>

        <section>
            <h3 class="bp">Use A Module Library</h3>
            <br/>
            <ul>
                <li>AMD (Asynchronous Module Definition)</li>
                <li>CommonJS</li>
                <li>EcmaScript 6</li>
            </ul>
        </section>

        <section>

            <pre><code class="javascript">// phonecatApp.js
define(["angular"], function(angular) {
  "use strict";
  return angular.module('phonecatApp', []);
});</code></pre>

            <pre><code class="javascript">// phoneListCtrl.js
require(["phonecatApp"], function(app) {
  "use strict";
  app.controller('PhoneListCtrl', function($scope) {
    $scope.phones = [];
    $scope.addPhone = function(phone) {
      $scope.phones.push(phone);
    };
  });
});</code></pre>
        </section>

        <section>

            <pre><code class="javascript">// phonecatApp.js
const phonecatApp = angular.module('phonecatApp', []);

export default {phonecatApp};</code></pre>

            <pre><code class="javascript">// phoneListCtrl.js
import {phonecatApp as App} from '/app/phonecatApp';

App.controller('PhoneListCtrl', function($scope) {
  $scope.phones = [];
  $scope.addPhone = function(phone) {
    $scope.phones.push(phone);
  };
};</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Named Functions</h3>
        </section>

        <section>
        <pre><code class="javascript">(function(app) {
  "use strict";

  function PhoneListCtrl($scope) {
    $scope.phones = [];
    $scope.addPhone = function(phone) {
      $scope.phones.push(phone);
    };
  }

  app.controller('PhoneListCtrl', PhoneListCtrl);

}(app));</code></pre>
        </section>

        <section>
            <h2>Angular Modules</h2>
            <br/>
            <p>A container for the different parts of your app</p>
        </section>

        <section>
            <pre><code class="javascript">var app = angular.module('phonecatApp', ['ngRoute']);

app.controller('PhoneListCtrl', function($scope) {});

app.service('PhoneService', function() {});</code></pre>
        </section>

        <section>
            <h3>Modules have a global namespace!</h3>
        </section>

        <section>
            <h3 class="bp">Use Module Getter</h3>
        </section>

        <section>
            <pre><code class="javascript">angular.module('phonecatApp')
  .controller('PhoneListCtrl', function($scope) {});</code></pre>
      </section>

        <section>
            <h3 class="bp">Google Recommendations</h3>
            <br/>
            <ul>
                <li>A module for each feature</li>
                <li>A module for each reusable component</li>
                <li>An application level module which depends on the above modules and contains any initialization code</li>
            </ul>
            <br/><br/>
            <small><a href="https://docs.angularjs.org/guide/module">*https://docs.angularjs.org/guide/module</a></small>
        </section>

        <section>
            <h3 class="bad">Don't create a module for each type!</h3>
        </section>

        <section>
            <pre><code class="javascript">var phonecatControllers = angular.module(
  'phonecatControllers', []);

phonecatControllers.controller('PhoneListCtrl',
  function ($scope, $http) {
    $http.get('phones/phones.json').success(function(data) {
      $scope.phones = data;
    });

    $scope.orderProp = 'age';
});

phonecatControllers.controller('PhoneDetailCtrl',
  function($scope, $routeParams) {
    $scope.phoneId = $routeParams.phoneId;
});</code></pre>
            <small><a href="https://docs.angularjs.org/tutorial/step_07">*https://docs.angularjs.org/tutorial/step_07</a></small>
        </section>

        <section>
            <h2>Dependency Injection</h2>
            <br/>
            <ul>
                <li>Creates components</li>
                <li>Resolves dependencies</li>
                <li>Provides components to other components as requested</li>
            </ul>
        </section>

        <section>
            <h3 class="bp">Wrap Global Libraries</h3>
            <br/>
            <pre><code class="javascript">angular.module('underscore', [])
  .factory('_', function($window) {
    return $window._;
  });</code></pre>
        </section>

        <section>
            <h3 class="bp">Annotate your Dependencies</h3>
            <br/>
            <pre><code class="javascript">// breaks on minification
function MyCtrl($scope) {}

MyCtrl.$inject = ['$scope'];

app.service('BookService', ['$http', function($http) {
}]);

// @ngInject
function Foo($scope) {}</code></pre>
        </section>

        <section>
            <h2>Templates</h2>
            <br/>
            <p>HTML that contains Angular specific elements and attributes</p>
        </section>

        <section>
            <pre><code class="html">&lt;html ng-app="phonecatApp">
  &lt;head>
    <script src="js/angular.js"></script>
    <script src="js/controllers.js"></script>
  &lt;/head>
  &lt;body ng-controller="PhoneListCtrl">
    <ul>
        <li ng-repeat="phone in phones">
            <span>{{phone.name}}</span>
            <p>{{phone.snippet}}</p>
        </li>
    </ul>
  &lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <h3 class="bp">Put Scripts at the End</h3>
        </section>

        <section>
            <pre><code class="html">&lt;html ng-app="phonecatApp">
&lt;body ng-controller="PhoneListCtrl">
  <ul>
    <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
    </li>
  </ul>
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
&lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <h3 class="bp">Hide Interpolated Values</h3>
        </section>

        <section>
            <p>ng-bind</p>
            <pre><code class="html">&lt;html ng-app="phonecatApp">
&lt;body ng-controller="PhoneListCtrl">
  <ul>
    <li ng-repeat="phone in phones">
        <span ng-bind="phone.name"></span>
        <p ng-bind="phone.snippet"></p>
    </li>
  </ul>
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
&lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <p>ng-cloak</p>
            <pre><code class="html">&lt;html ng-app="phonecatApp">
&lt;body ng-controller="PhoneListCtrl">
  <ul ng-cloak class="ng-cloak">
    <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
    </li>
  </ul>
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
&lt;/body>
&lt;/html></code></pre>
        </section>

        <section>
            <h3 class="bp">Prefer Angular Attributes if Available</h3>
            <br/>
            <ul>
                <li>ng-src</li>
                <li>ng-href</li>
                <li>ng-class</li>
                <li>etc...</li>
            </ul>
        </section>

        <section>
            <h2>Providers</h2>
            <br/>
            <p>A "recipe" for creating your object with the injector</p>
        </section>

        <section>
            <ul>
                <li class="fragment">Wired together using DI</li>
                <li class="fragment">Lazily instantiated (mostly)</li>
                <li class="fragment">Singletons</li>
                <li class="fragment">Service Layer</li>
            </ul>
        </section>

        <section>
            <ul>
                <li>Provider</li>
                <li>Service</li>
                <li>Factory</li>
                <li>Value</li>
                <li>Constant</li>
            </ul>
        </section>

        <section>
            <h3 class="bp">Use Constant for config phase values</h3>
            <br/>
            <pre><code class="javascript">app.constant('Defaults', {
  currency: 'USD',
  locale: 'en_US'
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">function Greeter(name, salutation) {
  this.name = name;
  this.salutation = salutation || 'Hello';
};

Greeter.prototype.sayHello = function() {
  return this.salutation + ', ' + this.name;
};</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Values to provide simple data</h3>
            <br/>
            <pre><code class="javascript">app.value('Name', 'John Doe');

app.value('Address', {
   street: '100 Main Street',
   city: 'Mankato'
});

app.value('JohnDoeGreeterService',
          new Greeter('John Doe'));</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Service for Constructor Functions</h3>
            <br/>
            <pre><code class="javascript">app.service('GreeterService', ['Name', Greeter]);</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Factories For Flexibility</h3>
            <br/>
            <pre><code class="javascript">app.factory('GreeterFactory', ['Name',function(Name) {
  return {
    create: function(salutation) {
      return new GreeterService(name, salutation);
    }
  };
}]);</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Provider to configure a service</h3>
            <pre><code class="javascript">mod.provider('GreeterProvider',['Name',function(name){
  var salutation = 'Hello';
  this.setSalutation = function(s) {
    salutation = s;
  };
  this.$get = function() {
    return new Greeter(name, salutation);
  };
}]);</code></pre>
<pre><code class="javascript">app.config(['GreeterProvider', function(gp) {
  gp.setSalutation('Hola');
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Decorators to enhance providers</h3>
            <br/>
            <pre><code class="javascript">app.config(function($provide) {
  $provide.decorator('GreeterService', function($d) {
     $d.enhanced = true;
     return $d;
  });
});</code></pre>
        </section>

        <section>
            <h3>Service or Factory?</h3>
            <br/>
            <ul>
                <li><a href="https://medium.com/@bluepnume/sane-scalable-angular-apps-are-tricky-but-not-impossible-lessons-learned-from-paypal-checkout-c5320558d4ef#.p6huatlok">Paypal says</a> just use factories</li>
                <li><a href="http://blog.thoughtram.io/angular/2015/10/24/upgrading-apps-to-angular-2-using-ngupgrade.html/">Services better for Angular 2?</a></li>
            </ul>
        </section>

        <section>
            <h3 class="bp">Use EcmaScript 6</h3>
            <br/>
            <ul>
                <li><a href="https://github.com/google/traceur-compiler">Traceur</a></li>
                <li><a href="https://babeljs.io/">Babel</a></li>
            </ul>
        </section>

        <section>
            <pre><code class="javascript">function Greeter(name, salutation) {
  this.name = name;
  this.salutation = salutation || 'Hello';
}

Greeter.prototype.sayHello = function() {
  return this.salutation + ', ' + this.name;
};</code></pre>
        </section>

        <section>
            <pre><code class="javascript">class GreeterService {
  constructor(name, saluation = 'Hello') {
    this.name = name;
    this.salutation = salutation;
  }
  sayHello() {
    return this.salutation + ', ' + this.name;
  }
}</code></pre>
        </section>

        <section>
            <h2>Controllers</h2>
            <br/>
            <p>A constructor function used to augment the Angular Scope</p>
        </section>

        <section>
            <h3 class="bp">Use controllerAs</h3>
            <br/>
            <pre><code class="html">&lt;body ng-controller="PhoneListCtrl as ctrl"></body>
  <ul>
    <li ng-repeat="phone in ctrl.phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
    </li>
  </ul>
&lt;/body></code></pre>
        </section>

        <section>
            <p>Before:</p>
            <pre><code class="javascript">function PhoneListCtrl($scope) {
  $scope.phones = [];
  $scope.addPhone = function(phone) {
    $scope.phones.push(phone);
  };
}
app.controller('PhoneListCtrl', PhoneListCtrl);</code></pre>
        </section>

        <section>
            <p>After:</p>
            <pre><code class="javascript">function PhoneListCtrl() {
  this.phones = [];
}
PhoneListCtrl.prototype.addPhone = function(phone) {
  this.phones.push(phone);
};
app.controller('PhoneListCtrl', PhoneListCtrl);</code></pre>
        </section>

        <section>
            <pre><code class="javascript">class PhoneListCtrl {
  constructor() {
    this.phones = [];
  }
  addPhone(phone) {
    this.phones.push(phone);
  }
}
app.controller('PhoneListCtrl', PhoneListCtrl);</code></pre>
        </section>

        <section>
            <h3 class="bp">$scope</h3>
            <br/>
            <ul>
                <li>Read only in a template</li>
                <li>Write only in a controller</li>
            </ul>
        </section>

        <section>
            <h3 class="bp">The Model Lives in Providers</h3>
        </section>

        <section>
            <pre><code class="javascript">app.controller('PhoneListCtrl', function($scope) {
  $scope.phones = [{
    'name': 'Nexus S',
    'snippet': 'Fast just got faster with Nexus S.'
  },{
    'name': 'Motorola XOOM™ with Wi-Fi',
    'snippet': 'The Next, Next Generation tablet.'
  },{
    'name': 'MOTOROLA XOOM™',
    'snippet': 'The Next, Next Generation tablet.'
  }];
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">function PhoneService() {
  this.phones = [{
    'name': 'Nexus S',
    'snippet': 'Fast just got faster with Nexus S.'
  },{
    'name': 'Motorola XOOM™ with Wi-Fi',
    'snippet': 'The Next, Next Generation tablet.'
  }];
}
app.service('PhoneService', PhoneService);</code></pre>

<pre><code class="javascript">function PhoneListCtrl(PhoneService) {
  this.phones = PhoneService.phones;
}
app.controller('PhoneListCtrl', PhoneListCtrl);</code></pre>
        </section>

        <section>
            <h3 class="bp">Use References not Values</h3>
        </section>

        <section>
            <pre><code class="javascript">function UserService() {
  this.name = "John Doe";
}

function UserCtrl(UserService) {
  this.name = UserService.name;
}

app.service('UserService', UserService);
app.controller('UserCtrl', UserCtrl);</code></pre>
            <pre><code class="html"><div ng-controller="UserCtrl as ctrl">
    <input ng-model="ctrl.name"/>
</div></code></pre>
        </section>

        <section>
            <pre><code class="javascript">function UserService() {
  this.user = { name: "John Doe" };
}

function UserCtrl(UserService) {
  this.user = UserService.user;
}

app.service('UserService', UserService);
app.controller('UserCtrl', UserCtrl);</code></pre>
            <pre><code class="html"><div ng-controller="UserCtrl as ctrl">
    <input ng-model="ctrl.user.name"/>
</div></code></pre>
        </section>

        <section>
            <h3 class="bp">Use directives over ng-controller</h3>
            <br/>
            <ul>
                <li>Doesn’t enforce a 1–1 between controller and template</li>
                <li>Controllers don’t end up being especially re-usable</li>
                <li>Too many disparate ways to attach a controller to a template</li>
            </ul>
            <br/><br/>
            <small><a href="https://medium.com/@bluepnume/sane-scalable-angular-apps-are-tricky-but-not-impossible-lessons-learned-from-paypal-checkout-c5320558d4ef">*paypal learnings</a></small>
        </section>

        <section>
            <pre><code class="javascript">$routeProvider.
  when('/phones', {
    templateUrl: 'partials/phone-list.html',
    controller: 'PhoneListCtrl'
  });</code></pre>
            <pre><code class="javascript">$routeProvider.
  when('/phones', {
    template: '<phone-list></phone-list>',
  });</code></pre>
        </section>

        <section>
            <h2>Directives</h2>
            <br/>
            <p>"teaching HTML new tricks"</p>
        </section>

        <section>
            <h3 class="bp">Only Access DOM in Directives</h3>
        </section>

        <section>
            <h3 class="bp">Naming a Directive</h3>
            <br/>
            <ul>
                <li>Use lowerCamelCase to name the directive</li>
                <li>Reference as lower-camel-case in HTML</li>
                <li>Prefix the directive name to avoid future collisions</li>
            </ul>
            <br/><br/>
            <pre><code class="javascript">// super grid library
function SgGrid() {...}
app.directive('sgGrid', SgGrid);</code></pre>
        </section>

        <section>
            <ul>
                <li class="bp">tag name (components)</li><pre><code class="html"><sg-grid></sg-grid></code></pre>
                <li class="bp">attribute name (decorators)</li><pre><code class="html"><span sg-grid="exp"></span></code></pre>
                <li>comments</li><pre><code class="html"> <!-- directive: sg-grid exp --></code></pre>
                <li>class name</li><pre><code class="html"><span class="sg-grid: exp;"></span></code></pre>
            </ul>
        </section>

        <section>
            <h3 class="bp">Break Template into Own File</h3>
            <br/>
            <pre><code class="javascript">app.directive('myCustomer', function() {
  return {
    template: 'Name: {{customer.name}} Address: {{customer.address}}'
  };
});</code></pre>
            <pre><code class="javascript">app.directive('myCustomer', function() {
  return {
    templateUrl: 'my-customer.html'
  };
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Isolate the Scope</h3>
            <br/>
            <p>For directives that are used as components.</p>
        </section>

        <section>
            <pre><code class="javascript">app.controller('TestCtrl', function($scope) {
  $scope.firstName = "John";
  $scope.lastName = "Doe";
  $scope.alertMe = function() {
    alert(this.name);
  };
});</code></pre>
        </section>

        <section>
            <pre><code class="html">&lt;div ng-controller="TestCtrl">&lt;test-directive/>&lt;/div></code></pre>
            <pre><code class="javascript">app.directive('testDirective', function() {
  return {
    restrict: 'E',
    template: '<div>Hello {{firstName}}</div>' +
      '<div><input type="text" ng-model="lastName"/></div>' +
      '<div><button ng-click="alertMe()">Alert</button></div>',
    link: function(scope, elem, attr) {}
  };
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">app.directive('testDirective', function() {
  return {
    scope: {
      name: "@", // one way text binding
      twoWayName: "=", // two way binding
      alerter: "&" // function binding
    },
    template: '<div>Hello {{name}}</div>' +
      '<div>@:<input type="text" ng-model="name"/></div>' +
      '<div>=:<input type="text" ng-model="twoWayName"/></div>' +
      '<div>&:<button ng-click="alerter()">Alert</button></div>',
    link: function(scope, elem, attr) {}
  };
});</code></pre>
        </section>

        <section>
            <pre><code>&lt;test-directive
  name="{{firstName}}"
  two-way-name="lastName"
  alerter="alertMe()"/></code></pre>
        </section>

        <section>
            <h3>Careful</h3>
            <br/>
            <p>Only one directive per tag can have isolate scope.</p>
        </section>

        <section>
            <h3 class="bp">Create an API</h3>
            <pre><code class="javascript">app.controller('TestCtrl', function() {
  this.open = function() {};
  this.onAlert = function(value) { alert(value); };
});</code></pre>
            <pre><code class="html">&lt;div ng-controller="TestCtrl as test">
  &lt;test-directive
    saluation="Hola"
    open-fn="test.open"
    on-alert="test.onAlert(value)"/>
&lt/div></code></pre>
        </section>

        <section>
            <pre><code class="javascript">app.directive('testDirective', function() {
  return {
    scope: {
      salutation: "@",
      openFn: "=",
      onAlert: "&"
    },
    link: function(scope, elem, attr) {
      scope.openFn = function(value) {
        alert(scope.salutation + ", " + value);
        scope.onAlert({value: scope.salutation});
      };
    }
  };
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Use Options as an API</h3>
            <pre><code class="javascript">app.controller('TestCtrl', function() {
  this.options = {
    salutation: 'Hola',
    onAlert: function() { alert('callback'); };
  };
});</code></pre>
            <pre><code class="html">&lttest-directive options="test.options"/></code></pre>
        </section>

        <section>
            <pre><code class="javascript">app.directive('testDirective', function() {
  return {
    scope: {
      options: "="
    },
    link: function(scope, elem, attr) {
      scope.options.open = function(value) {
        alert(scope.options.salutation + ", " + value);
        if (scope.options.onAlert) {
          scope.options.onAlert();
        }
      };
    }
  };
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Cleanup Your Directives</h3>
            <br/>
            <pre><code class="javascript">app.directive('myDir', function() {
  return {
     link: function(scope, elem, attr) {
       var unbinder = $rootScope.$watch('flag',
          function(flag) { alert('flag changed!'); });
       scope.$on('$destroy', unbinder);
     }
  };
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Stop Using jQuery</h3>
            <br/>
            <p>Use Directives instead!</p>
        </section>

        <section>
            <h2>Filters</h2>
            <br/>
            <p>Formats the value of an expression for display to the user</p>
        </section>

        <section>
            <pre><code class="html"><div ng-controller="MyController">
    <input ng-model="greeting" type="text"><br>
    No filter: {{greeting}}<br>
    Reverse: {{greeting|reverse}}<br>
    Reverse + uppercase: {{greeting|reverse:true}}<br>
</div></code></pre>
            <small><a href="https://docs.angularjs.org/guide/filter">*google</a></small>
        </section>

        <section>
            <pre><code class="javascript">app.filter('reverse', function() {
  return function(input, uppercase) {
    input = input || '';
    var out = "";
    for (var i = 0; i < input.length; i++) {
      out = input.charAt(i) + out;
    }
    // conditional based on optional argument
    if (uppercase) {
      out = out.toUpperCase();
    }
    return out;
  };
});</code></pre>
            <small><a href="https://docs.angularjs.org/guide/filter">*google</a></small>
        </section>

        <section>
            <h3 class="bp">Filters Should Be Lightweight</h3>
            <br/>
            <p>Called twice every digest cycle</p>
        </section>

        <section>
            <h2>Routes</h2>
        </section>

        <section>
            <h3>ngRoute</h3>
            <br/>
            <p>Provides routing and deep linking services and directives</p>
        </section>

        <section>
            <h3 class="bp">Use ui-router</h3>
            <br/>
            <p>The "de-facto solution" to flexible routing with nested views</p>
        </section>

        <section>
            <h3 class="bp">Register Routes with Controller</h3>
        </section>

        <section>
            <pre><code class="javascript">phonecatApp.config(function($routeProvider) {
  $routeProvider
    .when('/phones', {
      templateUrl: 'partials/phone-list.html',
      controller: 'PhoneListCtrl'
    })
    .when('/phones/:phoneId', {
      templateUrl: 'partials/phone-detail.html',
      controller: 'PhoneDetailCtrl'
    })
    .otherwise({
      redirectTo: '/phones'
    });
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">var PHONE_ROUTE  = '/phones';

app.config(function($routeProvider) {
  // config routes ...
});

app.service('RouteService', function($location) {
  this.goToPhoneList = function() {
    $location.path(PHONE_ROUTE);
  };
  this.goToPhoneDetails = function(phoneId) {
    $location.path(PHONE_ROUTE + '/' + phoneId);
  };
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">var PHONE_LIST_ROUTE = '/phones';

app.controller('PhoneListCtrl', function() {
// controller code ...
});

app.config(function($routeProvider) {
  $routeProvider
    .when(PHONE_LIST_ROUTE, {
       templateUrl: 'partials/phone-list.html',
       controller: 'PhoneListCtrl'
    })
    .otherwise({
      redirectTo: PHONE_LIST_ROUTE
    });
});</code></pre>
        </section>

        <section>
            <pre><code class="javascript">app.value('RouteService', {});</code></pre>
            <pre><code class="javascript">var PHONE_LIST_ROUTE = '/phones';
app.controller('PhoneListCtrl', function() {
  // controller code ...
});
app.config(function($routeProvider) {
  // config ...
});

app.run(function(RouteService, $location) {
  RouteService.goToPhoneList = function() {
    $location.path(PHONE_LIST_ROUTE);
  };
});</code></pre>
        </section>

        <section>
            <h2>Misc Stuff</h2>
        </section>

        <section>
            <h3 class="bp">Use Angular Wrappers</h3>
            <br/>
            <ul>
                <li>$window</li>
                <li>$document</li>
                <li>$timeout</li>
                <li>etc...</li>
            </ul>
            <br/><br/>
            <small><a href="https://docs.angularjs.org/api/ng/service">*services</a></small>
        </section>

        <section>
            <h3 class="bp">Use Angular Services</h3>
            <br/>
            <ul>
                <li>$http</li>
                <li>$resource</li>
                <li>$q</li>
                <li>etc...</li>
            </ul>
            <br/><br/>
            <small><a href="https://docs.angularjs.org/api/ng/service">*services</a></small>
        </section>

        <section>
            <h3 class="bp">Keep $watches Fast</h3>
            <br/>
            <p>Code in watches block the digest loop</p>
            <pre><code class="javascript">$scope.$watch('myvar', function(value) {
  someLongRunningFunction(value);
});</code></pre>
        </section>

        <section>
            <h3 class="bp">Understand Events</h3>
            <br/>
            <ul>
                <li>$emit - Dispatches event <b>upward</b> thru the scope hierarchy</li>
                <li>$broadcast - Dispatches event <b>downward</b> to all child scopes</li>
            </ul>
        </section>

        <section>
            <h2>Testing</h2>
        </section>

        <section>
            <h3 class="bp">Use Lint</h3>
            <br/>
            <ul>
                <li><a href="http://jshint.com/">JSLint</a></li>
                <li><a href="http://jshint.com/">JSHint</a></li>
                <li><a href="http://eslint.org/">ESLint</a></li>
            </ul>
        </section>

        <section>
            <h3 class="bp">Use Angular Mock</h3>
            <br/>
            <p>angular-mocks.js</p>
        </section>

        <section>
            <pre><code class="javascript">describe("A test", function() {
 var customerService = {},
     $scope,
     ctrl;
 beforeEach(function() {
  module('app', function($provide) {
   $provide.value('CustomerService', customerService);
  });
  inject(function($injector) {
   var $rootScope = $injector.get('$rootScope');
   $controller = $injector.get('$controller');
   $scope = $rootScope.$new();
   ctrl = $controller('MyCtrl', { $scope: $scope });
  });
 });
});</code></pre>
        </section>

        <section>
            <img src="img/empty-bag.jpg" style="width: 200%;height: 200%;"/>
        </section>

        <section>
            <h2>Questions</h2>
        </section>

        <section>
            <h3>Thanks</h3>
            <br><br>
            <p>https://github.com/jurberg/angular-bp-presentation</p>
        </section>

    </div>
</div>

<script src="js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script src="js/jquery.js"></script>
<script src="js/app.js"></script>

</body>
</html>
